body {
  color: black;
}

footer {
  background-color: #1c2b4a;
  height: 30px;
  width: 100%;
}

.navbar {
  background-color: #1c2b4a;
}

.fas {
  color: white;
}

.img-size {
  height: 100px;
  width: 100%;
}

a {
  text-decoration: none;
}

.fullwidth {
  width: 100%;
  border: 1px solid black;
}

.example {
  text-align: center;
}

.btn-primary {
  background-color: #1c2b4a;
  border-color: #1c2b4a;
}

.textCenter {
  text-align: center;
}
