body {
  color: black;
}

.main {
  min-height: calc(100vh - 30px);
}

footer {
  align-self: flex-end;
  background-color: #1c2b4a;
  height: 30px;
  width: 100%;
}

.navbar {
  background-color: #1c2b4a;
}

.fas {
  color: white;
}

.img-size {
  height: 100px;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

.black {
  text-decoration: none;
  color: black;
}

.example {
  text-align: center;
}

.btn-primary {
  background-color: #1c2b4a;
  border-color: #1c2b4a;
}

.textCenter {
  text-align: center;
}
