body {
  color: black;
}

.main {
  min-height: calc(100vh - 30px);
}

footer {
  align-self: flex-end;
  background-color: #1c2b4a;
  height: 30px;
  width: 100%;
}

.navbar {
  background-color: #1c2b4a;
}

.fas {
  color: white;
}

.img-size {
  height: 100px;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

.black {
  text-decoration: none;
  color: black;
}

.white {
  color: white;
  background-color: white;
}
.pictureSize {
  width: 150px;
}

.example {
  text-align: center;
}

.btn-primary {
  background-color: #1c2b4a;
  border-color: #1c2b4a;
}

.textCenter {
  text-align: center;
}

.right {
  position: absolute;
  bottom: 33%;
  right: 0;
}

.center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.minHeigth-150 {
  min-height: 150px;
}

.minHeigth-200 {
  min-height: 200px;
}
.maxHeigth {
  max-height: 150px;
}
@media only screen and (max-width: 464px) {
  .fullsize {
    width: 100%;
  }
}
